<!DOCTYPE html>
			<html>
			<title>Cat Pump Pic Uploader</title>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
			<style>
			body,h1 {font-family: "Raleway", sans-serif}
			body, html {height: 100%}
			.bgimg {
				background-image: url("https://images3.alphacoders.com/843/843267.png");
				min-height: 100%;
				background-position: center;
				background-size: cover;
			}
			</style>
			<body>
			
			<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
				<div class="w3-display-topleft w3-padding-large w3-xlarge">
					GoodeSpeed
				</div>
				<div class="w3-display-middle">
					<h1 class="w3-Jumbo w3-center">Cat Pump</h1>
					<hr class="w3-border-grey" style="margin:auto;width:40%">
					<p class="w3-large w3-center">Cat Pump Pic Uploader</p>
					<p class="w3-large w3-center">Cat Pump Pic Uploader</p>
					<p class="w3-large w3-center">Feedback and Questions are HIGHLY encouraged!</p>
                    <address>
                    <p class="w3-large w3-center">Contact me at: <a href="mailto:Preston.Goode@GoodeSpeed.com">Preston.Goode@GoodeSpeed.com</a><br> 
                    </address>
					<form
					enctype="multipart/form-data"
					action="http://192.168.1.178:8085/api/v1/data/upload"
					#action="http://192.168.1.243:8085/api/v1/data/upload"
					method="post">
                    <input id="fileupload" type="file" name="photo-1" />
                    <input id="fileupload" type="file" name="photo-2" />
                    <input id="fileupload" type="file" name="photo-3" />
                    <input id="fileupload" type="file" name="photo-4" />
                    <input id="fileupload" type="file" name="photo-5" />
                    <input id="fileupload" type="file" name="photo-6" />
                    <input id="fileupload" type="file" name="photo-7" />
                    <input id="fileupload" type="file" name="photo-8" />
                    <input id="fileupload" type="file" name="photo-9" />
					<input id="fileupload" type="file" name="photo-10" />
					<input id="fileupload" type="file" name="photo-11" />
					<input id="fileupload" type="file" name="photo-12" />
					<input id="fileupload" type="file" name="photo-13" />
					<input id="fileupload" type="file" name="photo-14" />
					<input id="fileupload" type="file" name="photo-15" />
					<input id="fileupload" type="file" name="photo-16" />
					<input id="fileupload" type="file" name="photo-17" />
					<input id="fileupload" type="file" name="photo-18" />
					<input id="fileupload" type="file" name="photo-19" />
					<input id="fileupload" type="file" name="photo-20" />
					<input type="submit" value="Decode Vin and RPO" />
				</form>
				</div>
				<div class="w3-display-bottomleft w3-padding-large">
	
				</div>
			</div>
			